/* Fuentes Necesarias  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* importamos */
@import url(sections/variables.css);
@import url(sections/banner.css);
@import url(sections/quienes-somos.css);
@import url(sections/vision-mision-content.css);
@import url(sections/acerca-de-nosostros.css);
@import url(sections/versiculo-oyente.css);
@import url(sections/blog-card-content.css);
@import url(sections/footer.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    /* overflow-x: hidden; */
    /* overflow-y: hidden;   */
    flex-direction: column;
}
.content{
  display: flex;/* aplica el modelo caja felxible */
  overflow-x: hidden;/* desactiva el desplazamiento horizontal  */
  overflow-y:hidden ;/* Desactiva el desplazamiento vertical  */
  flex-direction: column; /* organiza los elemenotos en columna  */
}
#loader {
  position: fixed;
  inset: 0;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.wave span {
  display: inline-block;
  width: 6px;
  height: 40px;
  margin: 3px;
  background: #1a73e8;
  animation: wave 1.2s infinite ease-in-out;
}

.wave span:nth-child(2) { animation-delay: -1.1s; }
.wave span:nth-child(3) { animation-delay: -1.0s; }
.wave span:nth-child(4) { animation-delay: -0.9s; }

@keyframes wave {
  0%, 40%, 100% { transform: scaleY(0.4); }
  20% { transform: scaleY(1); }
}

/* Cuando cargue */
body.loaded #loader {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
}
/* 
**Media Querys ***********************
 */

@media (max-width: 768px){
  .header-content{
    flex-direction: column;   /* CLAVE */
    align-items: flex-start;  /* ordenado */
    gap: 1rem;
    padding: 0.5rem;
    margin: 1px;
  }
  .link-clik {
    display: flex;
    margin: 0;
    font-size: 1.0rem;
  }
  .header-content img{
    max-width: 120px;
  }
  .logo-wd-banner{
    display: none;
  }
}