:root{
    --fondo-azul-principal: #003E87;
    --fondo-azul-secundario: #1A73E8;
    --azul-fuentes:#003A70;
    --rojo-vivo:#E02025;
    --bacground-fondo-marino-opaco: linear-gradient(90deg, rgba(0, 62, 135, 1) 86%, rgba(26, 115, 232, 1) 100%);
    --amarillo-palido-pollito:#F3B000;
    --negro-profundo:#000000;
}


.button-play{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color:var(--fondo-azul-principal);
    border-radius: 50px;
    z-index: 50;
}

.play-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: red;
    /* movivimineto */
    transform: translateZ(0) scale(1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.fa-solid{
  color: white;
}
.button-play:hover .play-btn {
  transform: translateZ(40px) scale(1.12);
  box-shadow: 0 15px 35px rgba(255, 0, 0, 0.4);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} 

.content{ 
  overflow-x: hidden;/*  desactiva el desplazamiento horizontal  */
  overflow-y:hidden ;/* Desactiva el desplazamiento vertical  */
  flex-direction: column; /* organiza los elemenotos en columna  */
}
html {
  font-size: 16px;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  color: #fff;
}
header{
  background-color: var(--fondo-azul-principal);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  
}
header {
  position: relative;
  z-index: 10;
}

img {
  max-width: 100%;
  display: block;
}
.link-clik:hover::before {
  opacity: 0.2;
}
.link-clik:hover {
  color: red;
}

.logo-header img {
  width: 120px;
}

.header-links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.header-links a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
}


.banner {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
} 

/* fondo */
.slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  animation: slideAnim 24s infinite ease-in-out;
  z-index: -1;
  pointer-events: none;
}

.slide1{
    background-image: url("img/vista-posterior-hombre-disfrutando-de-la-musica.webp");
    animation-delay: 0s;  
}

.slide2{
    background-image: url("img/anfitrion-femenino-comunicandose-por-el-microfono-mujer-en-estudio-de-radio.webp");
    animation-delay: 6s;
}

.slide3{
    background-image: url("img/mujer-trabajando-en-radio-con-equipo-profesional.webp");
    animation-delay: 12s;
}

.slide4{
    background-image: url("img/hermoso-tiro-de-un-hombre-con-la-cabeza-contra-la-cruz-de-madera-en-un-campo-de-hierba.webp");
    animation-delay: 18s;
}
@keyframes slideAnim {
    0%   {opacity: 0;}
    8%   {opacity: 1;}
    25%  {opacity: 1;}
    33%  {opacity: 0;}
    100% {opacity: 0;}
}


.logo-wd-banner {
  width: 140px;
  transition:transform 0.3s ease;
}
.logo-wd-banner:hover{
    transform: translate(-1px) scale(1.02);
}
.banner-text h2 {
  font-size: 1.6rem;
  line-height: 1.2;
}

.fa-solid{
  color: white;
}
.banner{
  color:var(--fondo-azul-secundario);
}
.banner-content{
  margin-left: 10px;
}

input[type="range"] {
  width: 100px;
}
section {
  padding: 3rem 1.5rem;
}
.quienes-somos-content,
.vision-content,
.mision-content,
.acerca-info,
.versiculo-oyente-content {
  max-width: 600px;
  margin: auto;
  text-align: center;
}
section h2 {
  margin-bottom: 1rem;
}
section p {
  opacity: 0.9;
}


.footer {
  background: #111;
  padding: 2rem 1.5rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.footer a {
  color: #f5c542;
  text-decoration: none;
}

.footer-bottom {
  margin-top: 2rem;
  font-size: 0.85rem;
  opacity: 0.7;
}

.quienes-somos{
    height: 100vh;
    background-image: url("img/chica-audifonos.webp");
    background-size: cover;
    background-position: center;
    overflow: hidden;
} 
.quienes-somos::before{
    content: "";
    position: absolute;
    inset: 0; 
    background: rgb(0, 0, 0,0.3)"";
    z-index: 1;
}

.quienes-somos-content{
    margin-top: 50px;
    position: relative;
    z-index: 2;
    transition: transform 0.3s ease;
}
.quienes-somos-content:hover{
    transform: scale(1.05);
}
.quienes-somos-content h2{
    text-align: center;
    margin-bottom: 20px;
    color: var(--fondo-azul-secundario);
}

.quienes-somos-content p{
    color: white;
    text-align: center;
    max-width: 800px;
    margin: 0 auto 10px;
    line-height: 1.6;
}







.vision-mision-content{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    height: 100vh;
    background-image: url("img/libro-abierto-con-elemento-natural.webp");
    background-size: cover;
    position: relative;
}

.vision-mision-content::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(156, 80, 15, 0.2);
    z-index: 1;
    pointer-events: none;
}

.vision-content,
.mision-content{
    margin-top: 20%;
    max-width: 400px;
    color: white;
    text-align: center;
    line-height: 1.6;
    transition: transform 0.3s ease;
    position: relative;
    z-index: 2;
}

.vision-content:hover,
.mision-content:hover{
    transform: scale(1.15);
}






.versiculo-oyente{
    color: white;
    text-align: center;
    height: 70vh;
    background-image: url("img/chica-microfono-radio-sonriente.webp");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.versiculo-oyente-content{
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 40px 20px;
    transition: transform 0.3s ease;
}
.versiculo-oyente-content:hover{
    transform: scale(1.15);
}

.versiculo-oyente p{
    font-size: 20px;
    font-style: bold;
    line-height: 1.6;
}




.blog-card{
    padding: 80px 20px;
    background: #f4f6f8;
    display: flex;
    justify-content: center;
}


.blog-card-content{
    background: #fff;
    max-width: 850px;
    width: 100%;
    border-radius: 14px;
    overflow: hidden;
    box-shadow: 0 15px 35px rgba(0,0,0,0.12);
    transition: transform .3s ease, box-shadow .3s ease;
}

.blog-card-content:hover{
    transform: translateY(-6px);
    box-shadow: 0 25px 45px rgba(0,0,0,0.18);
} 


.imagen-card{
    width: 100%;
    height: 260px;
    object-fit: cover;
}


.blog-content-card{
    padding: 30px;
    text-align: left;
}

.blog-content-card h3{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #0b3c5d;
}

.descricion-card-content{
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
    line-height: 1.6;
}


.btn-toggle{
    background: #1a73e8;
    color: #fff;
    border: none;
    padding: 10px 22px;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    transition: background .3s ease, transform .2s ease;
}


.btn-toggle:hover{
    background: #0f5cc7;
    transform: scale(1.05);
}

 
.extra-info{
    max-height: 0;
    overflow: hidden;
    transition: max-height .4s ease, opacity .3s ease;
    opacity: 0;
    margin-top: 15px;
}

.extra-info p{
    font-size: 15px;
    line-height: 1.7;
    color: #444;
}

 
.blog-card-content.active .extra-info{
    max-height: 300px;
    opacity: 1;
}



.acerca-de-nosotros{
  background-color: #003E87;
  flex-direction: column;
}
.logo-wd-left{
  align-items: center;
}


@media (min-width: 768px) {

  header {
    flex-direction: row;
    justify-content: space-between;
  }

  .header-links {
    flex-direction: row;
  }

  .banner-text h2 {
    font-size: 2.5rem;
  }

  .footer-container {
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
  }
}
