.acerca-de-nosotros{
    background: var(--bacground-fondo-marino-opaco);
}

.acerca-de-nosotros-content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 30px;
    align-items: center;
    max-width: 1100px;
    margin: auto;
    height: 100vh;   
}
.logo-wd-letf-img{
    width: 300px;
}

.acerca-info{
    text-align: center;
    font-weight: bold;
}
.acerca-de-nosotros-content h2{
    text-align: center;
    margin-bottom: 20px;
    color: var(--amarillo-palido-pollito);
}

.acerca-de-nosotros-content p{
    text-align: center;
    max-width: 800px;
    margin: 0 auto 10px;
    line-height: 1.6;
    color: white;
}



.logo {
    width: 300px;
    opacity: 0;
    transition: all 1s ease;
}

/* posiciones iniciales */
.logo-left {
    transform: translateX(-150px) rotate(-15deg);
}

.logo-right {
    transform: translateX(150px) rotate(15deg);
}

/* cuando se activa */
.logo.show {
    opacity: 1;
    transform: translateX(0) rotate(0);
}
