header{
    background-color: var(--fondo-azul-principal);
    padding: 10px;
    display: flex;
}

.logo-header{
    width: 90px;
}
.header-content{
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding-left:200px;
    padding-right: 200px;
    color: white;
    
}
.link-clik{
    margin:30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}