header{
    background-color: var(--fondo-azul-principal);
    padding: 10px;
    display: flex;
}

.logo-header{
    width: 90px;
}
.header-content{
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding-left:200px;
    padding-right: 200px;
    color: white; 
}
.link-clik {
  position: relative;
  margin: 30px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  transition: color 0.3s ease;
}

.link-clik::before {
  content: "";
  position: absolute;
  inset: 0;
  background: red;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.3s ease;
}

.link-clik:hover::before {
  opacity: 0.2;
}

.link-clik:hover {
  color: red;
}
 .banner{
    height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position:center;
    opacity: 0;
    animation: slideAnim 24s infinite ease-in-out;
    z-index: 1;
}

.slide1{
    background-image: url("../../img/vista-posterior-hombre-disfrutando-de-la-musica.webp");
    animation-delay: 0s;  
}

.slide2{
    background-image: url("../../img/anfitrion-femenino-comunicandose-por-el-microfono-mujer-en-estudio-de-radio.webp");
    animation-delay: 6s;
}

.slide3{
    background-image: url("../../img/mujer-trabajando-en-radio-con-equipo-profesional.webp");
    animation-delay: 12s;
}

.slide4{
    background-image: url("../../img/hermoso-tiro-de-un-hombre-con-la-cabeza-contra-la-cruz-de-madera-en-un-campo-de-hierba.webp");
    animation-delay: 18s;
}


@keyframes slideAnim {
    0%   {opacity: 0;}
    8%   {opacity: 1;}
    25%  {opacity: 1;}
    33%  {opacity: 0;}
    100% {opacity: 0;}
} 



.banner-grid {
    position: absolute;
    z-index: 20;
    display: grid;
    grid-template-columns: auto 1fr; /* logo + texto */
    gap: 30px; /* separación limpia */
    align-items: center;
    padding: 20px;
    margin-top: 105px;
    top: 6%;
    left: 30%;
    /* margin-left:405px ; *//*  aca aver si se puede cambiar puede producir errores mas adelante */
}

.banner-left {
    display: flex;
    justify-content: flex-end; /* empuja logo hacia el texto */
}

.banner-right {
    text-align: left;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--fondo-azul-principal);
    transition:transform 0.3s ease;
}
.banner-right:hover{
    transform: translateY(-8px) scale(1.02);
    /* box-shadow: 0 10px 30px rgba(0,0,0,0.15); */
}

.logo-wd-banner {
    width: 200px; /* no se toca el tamaño */
    transition:transform 0.3s ease;
}
.logo-wd-banner:hover{
    transform: translate(-1px) scale(1.02);
}

.button-play{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color:var(--fondo-azul-principal);
    border-radius: 50px;
    z-index: 50;
}

.play-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: red;
    /* movivimineto */
    transform: translateZ(0) scale(1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.button-play:hover .play-btn {
  transform: translateZ(40px) scale(1.12);
  box-shadow: 0 15px 35px rgba(255, 0, 0, 0.4);
}
/* icono de voz */
.fa-solid{
    color: white;
}
/* editamos el baner que quede en el centro  */

.banner-content{
    position: absolute;
    bottom: 2%;
    left: 28%;
    z-index: 40;
    padding: 100px;
    color: var(--fondo-azul-secundario);
    transition: transform 0.3s ease;
}
.banner-content:hover{
    transform: scale(1.05);
}
.banner-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    text-align: center;
}
.banner-info h2{
    margin: 0;
    font-weight: bold;
}

/* animation radioo wave */

.radio-wave{
    z-index: 100;
    position: absolute;
    bottom: 33%;
    right: 39%;
    width: 20px;
    height: 20px;
    background: #00c3ff;
    border-radius: 50%;
    /* margin: auto; */
}

.radio-wave::before,
.radio-wave::after{
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 50%;
    border: 2px solid rgba(0,195,255,.7);
    animation: wave 2s infinite;
}

.radio-wave::after{
    animation-delay: 1s;
}

/* animacion */
@keyframes wave{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(4);
        opacity: 0;
    }
}
