header{
    background-color: var(--fondo-azul-principal);
    padding: 10px;
    display: flex;
}

.logo-header{
    width: 90px;
}
.header-content{
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding-left:200px;
    padding-right: 200px;
    color: white;
    
}
.link-clik{
    margin:30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
.banner{
    height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position:center;
    opacity: 0;
    animation: slideAnim 24s infinite ease-in-out;
}

/* --- IMÁGENES --- */
.slide1{
    background-image: url("../../img/vista-posterior-hombre-disfrutando-de-la-musica.jpg");
    animation-delay: 0s;  /* PRIMERA SIEMPRE SIN DELAY */
}

.slide2{
    background-image: url("../../img/silueta-de-mano-sostenga-cruz-de-dios.jpg");
    animation-delay: 6s;
}

.slide3{
    background-image: url("../../img/chica-microfono-radio-sonriente.png");
    animation-delay: 12s;
}

.slide4{
    background-image: url("../../img/tiro-vertical-de-un-hombre-con-la-cabeza-contra-una-cruz-de-madera-en-un-campo-de-hierba.jpg");
    animation-delay: 18s;
}

/* --- ANIMACIÓN --- */
@keyframes slideAnim {
    0%   {opacity: 0;}
    8%   {opacity: 1;}
    25%  {opacity: 1;}
    33%  {opacity: 0;}
    100% {opacity: 0;}
}
