header{
    background-color: var(--fondo-azul-principal);
    padding: 10px;
    display: flex;
}

.logo-header{
    width: 90px;
}
.header-content{
    display: flex;
    margin: 0 auto;
    align-items: center;
    padding-left:200px;
    padding-right: 200px;
    color: white;
    
}
.link-clik{
    margin:30px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.5rem;
}
 .banner{
    height: 100vh;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.slide{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position:center;
    opacity: 0;
    animation: slideAnim 24s infinite ease-in-out;
    z-index: 1;
}

.slide1{
    background-image: url("../../img/vista-posterior-hombre-disfrutando-de-la-musica.jpg");
    animation-delay: 0s;  
}

.slide2{
    background-image: url("../../img/silueta-de-mano-sostenga-cruz-de-dios.jpg");
    animation-delay: 6s;
}

.slide3{
    background-image: url("../../img/chica-microfono-radio-sonriente.png");
    animation-delay: 12s;
}

.slide4{
    background-image: url("../../img/tiro-vertical-de-un-hombre-con-la-cabeza-contra-una-cruz-de-madera-en-un-campo-de-hierba.jpg");
    animation-delay: 18s;
}


@keyframes slideAnim {
    0%   {opacity: 0;}
    8%   {opacity: 1;}
    25%  {opacity: 1;}
    33%  {opacity: 0;}
    100% {opacity: 0;}
} 
.banner{
    position: relative;
}


.banner-grid {
    position: relative;
    z-index: 20;
    display: grid;
    grid-template-columns: auto 1fr; /* logo + texto */
    gap: 30px; /* separación limpia */
    align-items: center;
    padding: 20px;
    margin-top: 105px;
    margin-left:405px ;/*  aca aver si se puede cambiar puede producir errores mas adelante */
}

.banner-left {
    display: flex;
    justify-content: flex-end; /* empuja logo hacia el texto */
}

.banner-right {
    text-align: left;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: var(--fondo-azul-principal);
}

.logo {
    width: 200px; /* no se toca el tamaño */
}

.button-play{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    background-color:var(--fondo-azul-principal);
    border-radius: 50px;
    z-index: 30;
}
.play-btn{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: red;
}
.fa-solid{
    color: white;
}
/* editamos el baner que quede en el centro  */

.banner-content{
    position: absolute;
    left: 28%;
    /* transform: translate(-50%,-50%); */
    z-index: 40;
    padding: 100px;
    color: white;
}
.banner-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 7px;
    text-align: center;
}
.banner-info h2{
    margin: 0;
    font-weight: bold;
}