.footer{
    background: #111;
    color: white;
    padding: 60px 20px;
}

.menu-footer{
    display: flex;
    max-width: 1100px;
    margin: auto;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-footer p,
.menu-footer a{
    color: #ddd;
    text-decoration: none;
}
