.quienes-somos{
    position: relative;
    height: 100vh;
    background-image: url("../../img/chica-audifonos.webp");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.quienes-somos::before{
    content: "";
    position: absolute;
    inset: 0; /* la clave para que inserte el color */
    background: rgb(0, 0, 0,0.6);
    z-index: 1;
}

.quienes-somos-content{
    margin-top: 50px;
    position: relative;
    z-index: 2;
    /* max-width: 900px; */
}


.quienes-somos-content h2{
    text-align: center;
    margin-bottom: 20px;
    color: var(--fondo-azul-secundario);
}

.quienes-somos-content p{
    color: white;
    text-align: center;
    max-width: 800px;
    margin: 0 auto 10px;
    line-height: 1.6;
}
