.quienes-somos{
    background: #f4f7fb;
    height: 50vh;
}

.quienes-somos-content{
    max-width: 900px;
    margin: auto;
}


.quienes-somos-content h2{
    text-align: center;
    margin-bottom: 20px;
    color: #0a3d91;
}

.quienes-somos-content p{
    text-align: center;
    max-width: 800px;
    margin: 0 auto 10px;
    line-height: 1.6;
}
