:root{
    --fondo-azul-principal: #003E87;
    --fondo-azul-secundario: #1A73E8;
    --azul-fuentes:#003A70;
    --rojo-vivo:#E02025;
    --bacground-fondo-marino-opaco: linear-gradient(90deg, rgba(0, 62, 135, 1) 86%, rgba(26, 115, 232, 1) 100%);
    --amarillo-palido-pollito:#F3B000;
    --negro-profundo:#000000;
}