.versiculo-oyente{
    color: white;
    text-align: center;
    height: 70vh;
    background-image: url("../../img/chica-microfono-radio-sonriente.webp");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.versiculo-oyente-content{
    position: relative;
    z-index: 2;
    max-width: 800px;
    padding: 40px 20px;
    transition: transform 0.3s ease;
}
.versiculo-oyente-content:hover{
    transform: scale(1.15);
}

.versiculo-oyente p{
    font-size: 20px;
    font-style: bold;
    line-height: 1.6;
}
