.versiculo-oyente{
    color: white;
    text-align: center;
    height: 50vh;
    background-image: url("../../img/chica-microfono-radio-sonriente.png");
}

.versiculo-oyente p{
    font-size: 18px;
    font-style: italic;
    text-align: center;
}
