.vision-mision-content{
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    height: 100vh;
    background-image: url("../../img/libro-abierto-con-elemento-natural.jpg");
    background-size: cover;
    position: relative;
    overflow: hidden;
}

/* Overlay negro */
.vision-mision-content::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(156, 80, 15, 0.2);
    z-index: 1;
}

/* fuentes */
.vision-content,
.mision-content{
    margin-top: 20%;
    max-width: 400px;
    color: white;
    text-align: center;
    line-height: 1.6;   
}

